# Python
venv/
env/
__pycache__/
*.pyc
.env

# Next.js / Node
node_modules/
.next/
out/
build/
.DS_Store

# Project Specific Data (Private/Sensitive)
refresh-tokens.json
tokens*
active.number
ax.fp
bookmark.json
play*
pg*
*.ipynb

# IDEs
.vscode/
.idea/